In [1]:
import json

In [2]:
%%time
file_path = "../boo/classify/okved_full_table.json"
with open(file_path, mode='r') as file_in:
    okved = file_in.readlines()

Wall time: 0 ns

In [3]:
okved = json.loads(okved[0])

In [49]:
def print_okved_data(CODE_TO_FIND, okved=okved):
    '''
    На вход подается числовой код из трех колонок данных.
    Перебором проверяется, встречается ли такой код в ОКВЭД базе.
    
    Печатает раздел, подраздел и название, если код встречается и 
    возвращает пустое значение.
    Если код не находится, то возвращает код и строку "Не найдено"
    '''
    print('Искомый код:', '.'.join(map(str, CODE_TO_FIND)))
    for sector in okved.keys(): 
        for subsector in okved[sector].keys(): 
            for ok1 in okved[sector][subsector].keys():
                if format(CODE_TO_FIND[0], "02") == ok1:
                    for ok2 in okved[sector][subsector][ok1].keys():
                        if format(CODE_TO_FIND[1], "02") == ok2:
                            for ok3 in okved[sector][subsector][ok1][ok2].keys():
                                if format(CODE_TO_FIND[2], "02") == ok3:
                                    print(sector, 
                                          subsector, 
                                          okved[sector][subsector][ok1][ok2][ok3],
                                          sep='\n')
                                    return None
    return '.'.join(map(str, CODE_TO_FIND)), 'Не найдено'

In [5]:
%%time
import random
import pandas as pd
data = pd.read_csv('../data/processed-2012.csv')

Wall time: 5.28 s

In [146]:
%%time
rand_row = random.randint(0, data.shape[0]-1)
rand_code = data.loc[rand_row, ['ok1', 'ok2', 'ok3']].head().values

print(f'row #{rand_row}')
print_okved_data(rand_code)

row #480157
Искомый код: 51.3.0
РАЗДЕЛ G ОПТОВАЯ И РОЗНИЧНАЯ ТОРГОВЛЯ; РЕМОНТ АВТОТРАНСПОРТНЫХ СРЕДСТВ, МОТОЦИКЛОВ, БЫТОВЫХ ИЗДЕЛИЙ И ПРЕДМЕТОВ ЛИЧНОГО ПОЛЬЗОВАНИЯ
Подраздел GА ОПТОВАЯ И РОЗНИЧНАЯ ТОРГОВЛЯ; РЕМОНТ АВТОТРАНСПОРТНЫХ СРЕДСТВ, МОТОЦИКЛОВ, БЫТОВЫХ ИЗДЕЛИЙ И ПРЕДМЕТОВ ЛИЧНОГО ПОЛЬЗОВАНИЯ
Оптовая торговля пищевыми продуктами, включая напитки, и табачными изделиями
Wall time: 2 ms

%%time
errors_log = []
i = 0
while i < 50000:
    rand_row = random.randint(0, data.shape[0]-1)
    rand_code = data.loc[rand_row, ['ok1', 'ok2', 'ok3']].head().values

    # print(f'row #{rand_row}')
    try:
        if print_okved_data(rand_code)[1] == 'Не найдено':
            errors_log.append(rand_code)
    except:
        None
    i += 1

В базе не был наден ОКВЭД для примерно 6% случайных строк. Нужно проверить годы баз ОКВЭД

In [128]:
print(len(errors_log), i)
len(errors_log) / i

2297 41914

0.05480269122488906

больше всего пропусков для 51, 51.ХХ и 51.ХХ.ХХ кода.

In [147]:
pd.DataFrame(errors_log)

       0   1  2
0     29  40  9
1     74  84  0
2     51  70  0
3     51  70  0
4     51   7  0
5     51  70  0
6     51  65  6
7     51   7  0
8     51  70  0
9     51  70  0
10    51  65  6
11    51  65  5
12    51  70  0
13    51  70  0
14    51  70  0
15    40  10  2
16    55  11  0
17    51  65  5
18    51  70  0
19    51  70  0
20    51  65  0
21    51   6  0
22    51  70  0
23    51  65  3
24    51  70  0
25    51  65  6
26    51  65  6
27    51  70  0
28    51   6  0
29    51   6  0
...   ..  .. ..
2267  51  66  0
2268  51  65  6
2269  51  65  0
2270  74  84  0
2271  51  70  0
2272  72  20  0
2273  51  70  0
2274  51  65  0
2275  51  70  0
2276  51  65  5
2277  51  64  0
2278  51  65  6
2279  51  62  0
2280  72  20  0
2281  51  65  6
2282  51  70  0
2283  40  10  0
2284  51  70  0
2285  51  65  6
2286  51  70  0
2287  51  65  5
2288  74  84  0
2289  51  70  0
2290  51  70  0
2291  51  70  0
2292  51   7  0
2293  51  70  0
2294  51  65  5
2295  51  70  0
2296  72  20  0

[2297 rows x 3 columns]

In [141]:
pd.DataFrame(errors_log)[0].value_counts()

51    1940
74      95
72      85
40      71
90      53
55      30
29      13
64       8
27       2
Name: 0, dtype: int64

сохраним на всякий случай

In [145]:
pd.DataFrame(errors_log).to_csv('.\log_okved.csv')

___

okved['РАЗДЕЛ А СЕЛЬСКОЕ ХОЗЯЙСТВО, ОХОТА И ЛЕСНОЕ ХОЗЯЙСТВО']\
['Подраздел АА СЕЛЬСКОЕ ХОЗЯЙСТВО, ОХОТА И ЛЕСНОЕ ХОЗЯЙСТВО']['02']['01']['01']

2.1.1 02.01.1	Лесозаготовки

01.22.1 01.22.1	Разведение овец и коз

51.64.XX -- нет в базе, откуда делали файл